@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Heebo', sans-serif !important;
  }

.bg-theme {
    /* background-color: #dc782f; */
    background-color:#dc782fcf;
}

.form-body {
  direction: rtl;
}


textarea[name="comments"] {
  height: 320px;
}

.form-list {
  direction: rtl;
}

.form-list-item {
  font-size: 14px;
}

.form-list-item > span {
  padding: 3px;
  display: flex;
  align-items: center;
}

.storage {
  display: none;
}

.storage-toggle > svg {
  position: relative;
  right: 5px;
}