@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Heebo', sans-serif !important;
  }

.bg-theme {
    /* background-color: #dc782f; */
    background-color:#dc782fcf;
}

.form-body {
  direction: rtl;
}


textarea[name="comments"] {
  height: 320px;
}